1. We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test

In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

In [1]:
import pandas as pd
from scipy.stats import ttest_ind, norm

In [2]:
df = pd.read_csv("files_for_lab/machine2.txt", sep = "\t")
df

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [3]:
#see column names
df.columns

Index(['New machine', '    Old machine'], dtype='object')

In [4]:
df.rename(columns = {'    Old machine':'Old machine'}, inplace=True)

In [5]:
df.columns

Index(['New machine', 'Old machine'], dtype='object')

In [6]:
# creat an array out of the column old machine
old_machine = df['Old machine'].to_numpy()
old_machine

array([42.7, 43.6, 43.8, 43.3, 42.5, 43.5, 43.1, 41.7, 44. , 44.1])

In [7]:
# creat an array out of the column new machine
new_machine = df['New machine'].to_numpy()
new_machine

array([42.1, 41. , 41.3, 41.8, 42.4, 42.8, 43.2, 42.3, 41.8, 42.7])

In [8]:
ttest_ind(new_machine, old_machine)

Ttest_indResult(statistic=-3.3972307061176026, pvalue=0.0032111425007745158)